:root {
  --primary-color: #2563eb;
  --violet-600: #7c3aed;
  --white: #ffffff;
  --blue-100: #dbeafe;
  --blue-50: #eff6ff;
  --gray-600: #6b7280;
  --bg-gray-600: #e5e7eb;
  --gray-900: #111827;
}
